body{
    padding: 0px 100px !important;
}
.logo{
    display: inline-block;
}
.section-header{
    font-size: 32px;
    text-align: center;
}
.nav{
    display: inline-block;
    float: right;
    margin: 0;
}
.nav-item{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}
.home-left{
    width: 50%;
    display: inline-block;
}
.home-right{
    display: inline-block;
}
.home-img{
    width: 50%;
    display: inline-block;
    float: right;
}
#education{
    display: block;
    margin-top: 35%;
}